.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Success {
    color: green;
}

.Success:hover {
    color: rgb(137, 255, 2);
}

.Danger {
    color: rgb(124, 1, 1);
}


.Danger:hover {
    color: rgb(255, 72, 0);
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}